@import '../../styles/mixins/breakpoints';
@import '../../styles/settings/variables';

.UsersTables {
  border-collapse: collapse;
  width: 100%;
}

.TableHead {
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $buttonBlue;
  color: white;
}

.TableRow {
  background-color: $brownLight;

  &:nth-child(even) {
    background-color: $blueLight;
  }
  &:hover {
    background-color: $blue;
  }
}

.TableCell {
  padding: 15px;
  font-size: 20px;
}

.ModalNone {
  display: none; /* Hidden by default */
}

.ModalBlock {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: $black; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.ModalContent {
  // background-color: $grey;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

@include media-max(530px) {
  .TableCell {
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      display: none;
    }
    &:nth-child(4) {
      display: none;
    }
  }
}

@include media-max(1020px) {
  .TableCell {
    &:nth-child(3) {
      display: none;
    }
    &:nth-child(4) {
      display: none;
    }
  }
}

// @media screen and (max-width: 530px) {
//   .TableCell:nth-child(2) {
//     display: none;
//   }
//   .TableCell:nth-child(3) {
//     display: none;
//   }
//   .TableCell:nth-child(4) {
//     display: none;
//   }
// }

// @media screen and (max-width: 1020px) {
//   .TableCell:nth-child(3) {
//     display: none;
//   }
//   .TableCell:nth-child(4) {
//     display: none;
//   }
// }
