@import './styles/settings/variables';

// :root {
//   --color-button-blue: #008cba;
//   --color-grey: #d1d1d1;
//   --color-brown-light: #f5f3ef;
//   --color-blue-light: #e5f6fb;
// }

/* Buttons */

.Button {
  background-color: white;
  border: 3px solid $buttonBlue;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  float: right; /* Always on the right side */
}

.Button:hover {
  background-color: $buttonBlue;
  color: white;
}

.ButtonRed {
  background-color: white;
  border: 3px solid red;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.ButtonRed:hover {
  background-color: red;
  color: white;
}

/* Input fields */

.Input {
  width: 100%;
  font-size: 1rem;
  padding: 16px 32px;
  margin-bottom: 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Input:focus {
  border: 3px solid $buttonBlue;
}

.InputSubmit {
  width: 100%;
  background-color: $success;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

// .InputSubmit:hover {
//   background-color: #45a049;
// }

.ErrorInput {
  color: $fail;
  font-size: 20px;
  text-align: center;
}
