@import '../../styles/mixins/breakpoints';
@import '../../styles/settings/variables';

.Container {
  display: flex;
  justify-content: space-between;
}

.UserInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.GreenArrow {
  font-size: 80px;
  float: right;
  color: $success;
}

.RedArrow {
  font-size: 80px;
  float: right;
  color: $fail;
}

.TempMobile {
  display: none;
}

@include media-max(810px) {
  .TempMobile {
    display: block;
  }
  .Temp {
    display: none;
  }
}

// @media screen and (max-width: 810px) {
//   .TempMobile {
//     display: block;
//   }
//   .Temp {
//     display: none;
//   }
// }
