@import '../../styles/settings/variables';

.ModalContent {
  background-color: $greyLight;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
