@import '../../styles/settings/variables';

.Footer {
  margin-top: 1rem;
  padding-bottom: 2rem;
  font-size: 0.8rem;
  text-align: center;
  /* color: var(--color-primary, #000); */
  /* border-top: 1px solid var(--color-grey); */
  border-top: 1px solid $grey;
}
