@import '../../styles/mixins/breakpoints';
@import '../../styles/settings/variables';

.Header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fff;
  border-bottom: 1px solid $grey;
}

.Container {
  display: flex;
  justify-content: space-between;
}

.Links {
  display: flex;
  align-items: center;
}

.Link {
  margin-left: 30px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: 20px;
  font-weight: normal;
  color: $buttonBlue;

  &:hover {
    font-weight: bold;
    border-bottom: 1px solid $buttonBlue;
  }
}

// .Link:hover {
//   font-weight: bold;
//   border-bottom: 1px solid var(--color-button-blue);
// }

@include media-max(400px) {
  .Links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

// @media screen and (max-width: 400px) {
//   .Links {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//   }
// }
